
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_outerview.cshtml";
}

<h2>Signup</h2>

<form action="" method="post">

    <input type="text" name="name" placeholder="Name" />
    <br />
    <input type="text" name="username" placeholder="Username" />
    <br />
    <input type="password" name="password" placeholder="Password" />
    <br />
    <input type="hidden" name="role" value="Restaurant" />
    <br />


    <input type="submit" name="submit" class="btn btn-outline-success" value="Submit" />








</form>