@model lol.common.ProductTypeMst
@{
    ViewBag.Title = "Craete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("CreateUpdateForm","ProductType"))
            {
                
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(a => a.Description, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(a => a.Description, new { htmlattributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-control-static">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="save" class="btn btn-primary" />
                        </div>

                    </div>
                </div>
            }